body {
}

.pagehead {
    text-align: center;
}

.finder {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}


.from, .to, .day, .findButton {
    display: flex;
    flex-direction: column;
    width: 25%;
    flex: 1;
}

.from, .to, .day {
    margin-right: 10px;
}

.finderBar {
    height: 30px;
}

.findFlightsbutton {
    background-color: darkblue;
    padding-bottom: 3px;
    padding-top: 3px;
    color: white;
    height: 32px;
    border: solid;
}

    .findFlightsbutton:active {
        transform: scale(0.95);
    }


.flights {
    display: flex;
    flex-direction: column;
}

.flightsName {
    height: 30px;
    flex-grow: 1;
}

.reserve-fill {
    display: flex;
    flex-direction: column;
}

.reserveFlightCode, .reserveAirline, .reserveDay, .reserveTime, .reserveCost, .reserveName, .reserveCitizenship {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}



.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px;
}

.reservebutton {
    background-color: darkblue;
    padding: 3px 10px 3px;
    color: white;
    height: 32px;
    border: none;
    width: 30%;
    margin-bottom: 10px;
}
    .reservebutton:active {
        transform: scale(0.95);
    }

.reserve-div {
    margin-top: 30px;
}

.flights-div {
    margin-top: 30px;
}
